<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가 화면</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 추가하기</h1>
		

		<div class="form-group">
			<label for="name">제목</label>
			<input type="text" id="name" class="form-control">
		</div>
		<div class="form-group">
			<label for="url">url 주소</label>
			<div class="d-flex">
				<input type="text" id="url" class="form-control col-11">
				<button type="button" id="duplicationBtn" class="btn btn-info col-1 ml-2">중복확인</button>
			</div>
			
			<small id="duplicationText" class="text-danger d-none">중복된 URL입니다.</small>
			<small id="availableText" class="text-success d-none">저장 가능한 URL입니다.</small>
			
		</div>
		
		<input button="button" id="addBtn" class="btn btn-success col-12" value="추가">
	</div>
	
	<script>
		$(document).ready(function() {
			// 중복확인 버튼 클릭
			$("#duplicationBtn").on('click', function() {
				// alert("중복확인");
				
				let url = $("#url").val().trim();
				if (!url) {
					alert("주소를 입력하세요");
					return;
				}
				
				// AJAX - DB Url 확인
				$.ajax({
					// request
					type:"POST"
					, url:"/lesson06/is-duplication-url"
					, data:{"url":url}
					
					// response
					// callback
					, success:function(data) {
						// {"code":200, "is_duplication":true} => 중복
						if (data.is_duplication) { // 중복
							$("#duplicationText").removeClass("d-none");
							$("#availableText").addClass("d-none");
						} else {
							$("#duplicationText").addClass("d-none");
							$("#availableText").removeClass("d-none");
						}
					}
					, error:function(error) {
						alert("중복확인에 실패했습니다.")
					}
				}); // ajax 끝
			}); // 중복확인 버튼 끝
			
			
			
			
		}); // 레디 함수 끝
	
	
	</script>
</body>
</html>